[Unit]
Description=X11 and Chromium Kiosk for NDPi Client Display
After=network.target ndpi-monitor-client.service
Wants=graphical.target

[Service]
Type=simple
User=ndpi-client
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/ndpi-server/.Xauthority
ExecStartPre=/bin/sleep 5
ExecStart=/bin/bash -c 'startx /usr/bin/chromium --kiosk --disable-infobars --disable-session-crashed-bubble --disable-component-extensions-with-background-pages --no-first-run --disable-default-apps --disable-translate --hide-scrollbars --disable-features=TranslateUI --noerrdialogs  --user-data-dir=/home/ndpi-client/.config/chromium-kiosk -- :0 vt7'
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target