[Unit]
Description=Custom Boot Splash Screen for NDPi Monitor Client
DefaultDependencies=no
After=local-fs.target
Before=network.target multi-user.target

[Service]
Type=simple
ExecStartPre=/bin/sleep 0.2
ExecStart=/usr/bin/fbi -d /dev/fb0 -T 1 --noverbose --autozoom --nointeractive /home/ndpi-client/ndpi-monitor/Assets/bootsplash.png
Restart=always
RestartSec=0
StandardOutput=tty
StandardInput=tty
StandardError=tty
TTYPath=/dev/tty1
TTYReset=no
TTYVHangup=no
TTYVTDisallocate=no
KillMode=process

[Install]
WantedBy=sysinit.target